html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background:url('/assets/images/login_bg.png') no-repeat center;
    background-size: 100% 100%;
}

video {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-filter: grayscale(10%);
}

/* 头部logo区域 */
.logo img {
    position: absolute;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,158%);
    z-index: 2;
}

/* 登录注册 */
.loginAndRegBox {
    width: 400px;
    height: 370px;
    background-color:rgba(0,0,0,.09);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.title-box {
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center ;
}

.reg-box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
}
.links a {
    font-size: 15px;
    color: white;
    background-color: rgba(0,0,0,.1);
}
.layui-form-item {
    position: relative;
}
.layui-icon {
    position: absolute;
    left: 10px;
    top: 8.5px;
}
.layui-input {
    padding-left: 32px;
    background: rgba(0,0,0,.1);
    color: white;
}
.layui-btn {
    background: rgba(0,0,0,.1);
}
